<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Services - Brand</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="static/assets/css/animate.min.css">
    <link rel="stylesheet" href="static/assets/css/Navbar-With-Button-icons.css">
</head>

<body class="font-monospace" style="/*background: url(&quot;19691.jpg&quot;);*/background-position: 0 -60px;">
    <nav class="navbar navbar-dark navbar-expand-md sticky-top border rounded py-3">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-infinity">
                        <path fill-rule="evenodd" d="M5.68 5.792a2.75 2.75 0 1 0 0 3.916L7.345 7.75 5.681 5.792ZM8 6.978 6.416 5.113l-.014-.015a3.75 3.75 0 1 0 0 5.304l.014-.015L8 8.522l1.584 1.865.014.015a3.75 3.75 0 1 0 0-5.304l-.014.015L8 6.978Zm.656.772 1.663 1.958a2.75 2.75 0 1 0 0-3.916L8.656 7.75Z"></path>
                    </svg></span><span class="font-monospace fs-6">Ceglie Data Analytics</span></a><button data-bs-toggle="collapse" class="navbar-toggler fs-6" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link link-light" data-bss-hover-animate="pulse" href="/index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link link-light" data-bss-hover-animate="pulse" href="/services.html">Services</a></li>
                    <li class="nav-item"><a class="nav-link link-light" data-bss-hover-animate="pulse" href="/projects.html">Projects</a></li>
                    <li class="nav-item"><a class="nav-link link-light" data-bss-hover-animate="pulse" href="/team.html">About</a></li>
                </ul><a class="btn btn-primary ms-md-2" role="button" data-bss-hover-animate="pulse" href="/contacts.html">Contact</a>
            </div>
        </div>
    </nav>
    <section style="padding-top: 30px;text-align: center;">
        <h1 class="text-center" style="margin-bottom: 40px;margin-top: 0px;"><span style="color: rgb(220, 61, 203);">Coaching, Websites and Softwaretools</span><br></h1>
    </section>
    <section style="text-align: center;padding: 10px;">
        <h1 class="text-success" style="padding: 30px;margin: 0px;">Full Service</h1>
        <div class="container">
            <div class="row">
                <div class="col-auto col-sm-12 col-md-12 col-lg-9 col-xl-9 col-xxl-9 d-flex flex-row" style="padding: 0px;"><img class="rounded img-fluid" src="static/assets/img/Services.jpg" style="margin-top: 0px;margin-bottom: 0px;text-align: center;padding-top: 0px;"></div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3 offset-0 text-start align-self-center" style="padding-left: 30px;padding-right: 30px;">
                    <p style="margin: 0px;margin-bottom: 0px;padding: 50px;padding-right: 0px;/*margin-right: 0px;*//*padding-bottom: 0px;*/padding-left: 0px;/*padding-top: 0px;*/">There is nothing we cannot do for you, from coaching and identifying potentials for you to go digital, to developing your ideal software or website, to maintaining and adapting it.</p>
                </div>
            </div>
        </div>
    </section>
    <section style="text-align: center;padding: 10px;">
        <h1 class="font-monospace text-center text-success" style="padding: 30px;">Benefits</h1><img class="rounded img-fluid" src="static/assets/img/BenefitsMindmap.jpg">
    </section>
    <footer class="font-monospace bg-dark border rounded">
        <div class="container-fluid font-monospace py-4 py-lg-5">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 font-monospace text-center text-lg-start d-flex flex-column item">
                    <h3 class="fs-6 fw-bold" data-bss-hover-animate="pulse">Services</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Websites</a></li>
                        <li><a href="#">Software</a></li>
                        <li><a href="#">Coaching</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item">
                    <h3 class="fs-6 fw-bold" data-bss-hover-animate="pulse">About</h3>
                    <ul class="list-unstyled">
                        <li><a href="/index.html">Company</a></li>
                        <li><a href="/index.html">Team</a></li>
                        <li><a href="/contacts.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="text-muted d-flex justify-content-between align-items-center pt-3">
                <p class="mb-0">Copyright © 2022 Ceglie - Data Analytics and Automation</p>
            </div>
        </div>
    </footer>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/assets/js/bs-init.js"></script>
    <script src="static/assets/js/bold-and-dark.js"></script>
</body>

</html>